
server {
    listen {{ nginx_port_with_tls }} ssl;
    server_name {{ ansible_host }};
    ssl_certificate     {{ tls_cert_dir }}/{{ ansible_host }}.crt;
    ssl_certificate_key {{ tls_private_key_dir }}/{{ ansible_host }}.key;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    root /usr/share/nginx/html;
    index index.html index.htm;
    location / {
            try_files $uri $uri/ =404;
    }
}